*{
    background-color: deeppink;
    color: floralwhite;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
}