*
{
    background-color: deeppink;
    color: floralwhite;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
}
html, body
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: floralwhite;
    text-shadow:1px 1px 0px gray;

}
body
{
    text-align: center;
}
h1
{
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
}
img
{
    border-radius: 50%;
}